* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clear{
    clear: both;
}

html {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header .knm {
    display: flex;
    flex-direction: row;
    height: 46.5px;
    background-color: #000;
    justify-content: space-between;
    /* justify-items: center; */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.knm .knm__items {
    display: flex;
    flex-direction: row;
}

.knm__items .knm__item{
    list-style: none;
    line-height: 46.5px;
    position: relative;
}

.knm__items .knm__item > a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 24px;
    display: block;
}

.knm__items .knm__item:hover {
    background-color: #ccc;
}

.knm__items .knm__item:hover > a {
   color: #000;
}

.knm__item .sub-menu {
    background-color: #fff;
    list-style: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    display: none;
}

.knm__item:hover .sub-menu {
    display: block;
}

.sub-menu .sub-menu__item{
    color: #000;
    padding: 8px 16px;
    line-height: 1.5;
}

.search-button{
    color: white;
    padding: 12px 24px;
}


/* .header .banner {
    width: 100%;
    padding-top: 50%;
    background: url(/theband/assets/img/chicago.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 46.5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner .banner__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 16px;
}

.banner .banner__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    margin: 10px 0;
}

.banner .banner__description {
    line-height: 1.5;
    font-weight: bolder;
    font-size: 15px;
    margin: 10px 0;
} */
.content{
    margin-top: 46px;
    margin-left: auto;
    margin-right: auto;
}
/* .myslides{
    display: block;
} */
.banner{
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_img{
    width: 100%;
    vertical-align: middle;
    border-style: none;
}

.banner_text{
    color: white;
    padding-top: 32px;
    padding-bottom: 32px;
    padding: 32px 16px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0%);
}

.banner_text h3{
    font-weight: 400;
    margin: 10px 0;
    font-size: 24px;
}

.banner_text p{
    display: block;
    font-weight: bolder;
    font-size: 15px;
    margin: 15px 0;
}

.main #band{
    max-width: 800px;
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.main #band > h3{
    letter-spacing: 4px;
    font-weight: 400;
    margin: 10px 0;
    font-size: 30px;
}
.main #band > h5{
    opacity: 0.6;
    font-style: italic;
    margin: 15px 0;
    
}
.main #band > p{
    text-align: justify;
    display: block;
}
.main #band .new_list{
    padding-top: 32px;
    padding-bottom: 32px;
}

.main #band .new_list .new_item{
    float: left;
    width: 33.33%;
}
.main #band .new_list .new_item h3{
    display: block;
    margin: 15px 15px;
    font-weight: normal;
}
.main #band .new_list .new_item img{
    width: 60%;
    margin-bottom: 16px;
    border-radius: 4px;
    vertical-align: middle;
    border-style: none;
}
/* .main .new_list .new_item{
    width: 28%;
    padding: 2%;
    float: left;
    margin-right: 3%;
} */

.tour{
    color: #fff;
    background-color: black !important;
}

.tour .tour_con{
    padding-top: 64px;
    padding-bottom: 64px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.tour .tour_con > h2{
    text-align: center;
    letter-spacing: 4px;
    font-weight: 400;
    margin: 15px 0;
    font-size: 30px;
}

.tour .tour_con > p{
    text-align: center;
    opacity: 0.60;
    display: block;
    font-style: italic;
    margin: 15px 0;
}
.tour .tour_em{
    color: #757575;
    background-color: #fff;
    border: 1px solid #ccc;
}
.tour ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.tour ul li{
    border-bottom: 1px solid #ddd;
    padding: 8px 16px;
    display: list-item;
    
}
.tour .tour_con .tour_em .sold_out{
    color: #fff;
    background-color: red;
    margin-left: 16px;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}
.tour .tour_con .tour_em .sold_outt{
    float: right;
    margin-right: 16px;
    border-radius: 50%;
    background-color: black;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    
}

.tour_con .old_item{
    padding: 0 8px;
    margin: 0 -16px;
    padding-top: 32px ;
    padding-bottom: 32px ;

}
.tour_con .old_item .oldschool{
    padding: 0 8px;
    margin-bottom: 16px ;
    width: 33.33%;
    float: left;
}

.tour_con .old_item .oldschool img{
    width: 100%;
    vertical-align: middle;
    border-style: none;
}
.tour_con .old_item .oldschool .more{
    color: #000;
    background-color: #fff;
    padding: 0.01em 16px;
}
.tour_con .old_item .oldschool .more h5{
    display: block;
    font-weight: bolder;
    margin: 15px 0;
}
.tour_con .old_item .oldschool .more .date{
    opacity: 0.60;
    margin: 15px 0;
}
.tour_con .old_item .oldschool .more p{
    display: block;
    margin: 15px 0;
}
.tour_con .old_item .oldschool .more .button{
    color: #fff;
    background-color: #000;
    margin-bottom: 16px;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.main .section__title {
    font-weight: 400;
    font-size: 30px;
    margin: 10px 0;
    letter-spacing: 4px;
    font-family: "Segoe UI",Arial,sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.main .section__desc {
    font-weight: 400;
    font-size: 15px;
    margin: 10px 0;
    opacity: 0.6;
    font-style: italic;
    text-align: center;
}

.main #contact {
    display: flex;
    flex-direction: column;
    padding: 64px 16px;
    max-width: 800px;
    margin: auto;
}

#contact .contact {
    display: flex;
    flex-direction: row;
    padding: 32px 0;
    align-items: center;
}

.contact > div {
    flex: 1;
}

.contact-form > div{
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.contact-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    line-height: 1.5;
}

.contact-form > div :first-child {
    margin-right: 16px;
}

#contact .send-button input {
    padding: 8px 16px;
    background-color: #000;
    text-transform: uppercase;
    color: #fff;
    border: none;
    cursor: pointer;
    line-height: 1.5;
}

#contact .send-button {
    display: flex;
    justify-content: end;
}
.footer{
    background-color: #f1f1f1;
    color: #000;
}
.footer img{
    width: 100%;
}
.footer .icon{
    opacity: 0.60;
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
    font-size: 24px;
}
.footer .last{
    font-size: 15px;
    text-align: center;
    margin: 15px 0px;
}
.footer .last a{
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
}